# Question 1

In [1]:
# Import pandas 
import pandas as pd

In [2]:
# Printing the Version of pandas
print(pd.__version__)

1.0.5

# Question 2

In [3]:
import numpy as np

In [19]:
#creating a numpy array
arr=np.array(['gayathri','catherine','hrithik','roshan','kavya'])
print("Numpy array: ",arr)
print(type(arr))

#converting numpy array to pandas series
arr_2=pd.Series(arr)
print("Pandas Series\n" ,arr_2)
print(type(arr_2))

Numpy array:  ['gayathri' 'catherine' 'hrithik' 'roshan' 'kavya']
<class 'numpy.ndarray'>
Pandas Series
 0     gayathri
1    catherine
2      hrithik
3       roshan
4        kavya
dtype: object
<class 'pandas.core.series.Series'>

# Question 3

In [38]:
#converting the above Pandas series  to Dataframes with its index
arr=({'Name':['Gayathri','Dharshini','Catherine'],'Age':['20','20','20'],'Height':['165','172','155']})
df=pd.DataFrame(arr)
print(df)
df.reset_index(level=0,inplace=True)
df = df.rename(columns = {'index':' S.No.'})
print()
print(df)

        Name Age Height
0   Gayathri  20    165
1  Dharshini  20    172
2  Catherine  20    155

    S.No.       Name Age Height
0       0   Gayathri  20    165
1       1  Dharshini  20    172
2       2  Catherine  20    155

# Question 4

In [1]:
import seaborn as sns

In [14]:
#to list all datasets available in seaborn library
print(sns.get_dataset_names())
#load mpg dataset from seaborn library
mpgs=sns.load_dataset('mpg','features="lxml"')

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [12]:
mpgs.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Question 5

The origin of cars in the 'mpg' dataset is USA, JAPAN and EUROPE

# Question 6

In [94]:
import pandas as pd
mpgs=sns.load_dataset('mpg','features="lxml"')
mpgs=pd.DataFrame(mpgs)
res = mpgs.loc[mpgs['origin'] == 'usa'] 
print("List of data whose origin of cars is USA")
print()
print(res)

List of data whose origin of cars is USA

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]