# String functions

In [4]:
a="gayathri"
b="srinivasan"
#capitalizing the string
print(str.capitalize(a))

Gayathri

In [9]:
#tab space 
print(("ga\tya\tth\tri").expandtabs(4))

ga  ya  th  ri

In [17]:
#find first occurence of the character in a string
c=a.find("a",1,4)
print(c)

1

In [1]:
#finding index
s="I am a data scientist"
s.index("data")

7

In [7]:
#joining all items in tuple
z=("Ram","a goodboy")
tupl=" is ".join(z)
print(tupl)

Ram is a goodboy

# list functions

In [23]:
#append
fruits = ['apple', 'pineapple', 'grapes']
fruits.append("orange")
print(fruits)

['apple', 'pineapple', 'grapes', 'orange']

In [24]:
#reverse 
fruits.reverse()
fruits

['orange', 'grapes', 'pineapple', 'apple']

In [17]:
#find the occurence of an item
num=['1','2','3','2','2']
a=num.count('2')
a

3

In [25]:
#pop out an item
p=fruits.pop(1)
print(p)
print(fruits)

grapes
['orange', 'pineapple', 'apple']

# Dictionary functions

In [26]:
#getting values
car = {
  "brand": "Fortuner",
  "price":100000,
  "year": 1990
}
val=car.get("price")
val

100000

In [27]:
#listing the items in dictionary
dic=car.items()
dic

dict_items([('brand', 'Fortuner'), ('price', 100000), ('year', 1990)])

In [28]:
#listing the keys
key=car.keys()
print(key)

dict_keys(['brand', 'price', 'year'])

In [29]:
#updating the dictionary
car.update({"speed":200})
print(car)

{'brand': 'Fortuner', 'price': 100000, 'year': 1990, 'speed': 200}

In [30]:
#popping off the items 
car.popitem()
car

{'brand': 'Fortuner', 'price': 100000, 'year': 1990}